body {
    background-color: #FE9A2E;
}

#header {
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
    color: #61380B;
    text-align: center;
    margin: 20px;
}

#footer {
	background-color: #FE7500;
	padding: 10px;
    color: #61380B;
}

#menu{
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
    color: #61380B;
    font: Verdana;
    text-align: center;
    margin: 20px;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

canvas {
	overflow: auto;
    margin: 50px;
}
